{% extends "base.html" %}

{% block content%}
<div class="container">
	<h2 class="page-header">Edit profile</h2>
	<form action="" method="POST" role="form">
		{{ form.hidden_tag() }}
		<div class="form-group">
			<label for="name">Name:</label>
			{{ form.name(class="form-control") }}
		</div>
		<div class="form-group">
			<label for="about">About:</label>
			{{ form.about(class="form-control") }}
		</div>
		<div class="form-group">
			<label for="visibility">Visibility:</label>
			{{ form.visibility }}
		</div>
		<button type="submit" class="btn btn-primary">
			<span class="glyphicon glyphicon-edit"></span> Edit
		</button>
	</form>
</div>
{% endblock %}