{% extends "base.html" %}

{% block content %}
<div class="container">
	<h2 class="page-header">Log in</h2>
	<form action="" method="POST" name="login" class="form-horizontal">
		{{form.hidden_tag()}}
		{% if error %}
		<div class=error><strong class="alert alert-danger">Error: </strong>{{ error }}</div>
		{% endif %}
		<div class="control-group">
			<label class="control-label" for="#openid">OpenID</label>
			<div class="controls">
				{{ form.openid(size = 40, class = "span4", value=providers[0].url) }}
			</div>
		</div>
		<br>
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn btn-default" value="{{ _('Sign In') }}">
			</div>
		</div>
		<br>
	</form>
</div>
{% endblock %}