{% extends "base.html" %}

{% block content %}
<div class="container well well-sm">
	<h2 class="page-header">Hi, 
		<small><strong id="username">{{ user.name }}</strong></small>
	</h2>
	<span>
		<label class="label label-info">Visibility: </label>
		<strong class="visibility">
			{% if user.visibility == 0 %}
				Private
			{% else %}
				Public
			{% endif %}
		</strong>
	</span>
	<br><br>
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">About me:</h3>
		</div>
		<p class="panel-body">
			{{ user.about }}
		</p>
	</div>
	<a href="{{ url_for('users.edit') }}">
		<button type="submit" class="btn btn-primary">
			<span class="glyphicon glyphicon-edit"></span> Edit Profile
		</button>
	</a>
</div>
{% endblock %}