{% extends "base.html" %}

{% block content %}
<div class="container well well-sm">
	<h2 class="page-header">{{ user.name }}'s profile</h2>
	<span>
		<label class="label label-info">Visibility: </label>
		<strong class="visibility">
			Public
		</strong>
	</span>
	<br><br>
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">About {{ user.name }}:</h3>
		</div>
		<p class="panel-body">
			{{ user.about }}
		</p>
	</div>
</div>
{% endblock %}