{% extends "base.html" %}

{% block content %}
<div class="container">
	<h2 class="page-header">Browse Products</h2>
		<div class="media-list">
			<div class="row">
			{% for product in products %}
			<!-- <a href="" class="pull-left">
				<img src="" alt="" class="media-object">
			</a> -->
				<div class="col-md-3 col-md-offset-1">
					<div class="media-body">
						<a href="/products/id/{{product.id}}">
							<h4 class="media-heading">{{ product.name }}</h4>
						</a>
						<p>{{ product.price }}</p>
					</div>
				</div>
			{% endfor %}
			</div>
		</div>
	<ul class="pagination col-md-4 col-md-offset-6">
		{% if current_page and current_page == 1 %}
			<li class="disabled"><a href="#">&laquo;</a></li>
		{% else %}
			<li><a href="/products/get/page/{{ current_page - 1 }}">&laquo;</a></li>
		{% endif %}

		{% for p in range(pages) %}
			{% if current_page and current_page == (p + 1) %}
				<li class="active"><a href="#">{{ p + 1 }}</a></li>
			{% else %}
				<li><a href="/products/get/page/{{ p + 1 }}">{{ p + 1 }}</a></li>
			{% endif %}
		{% endfor %}

		{% if current_page and current_page == pages %}
			<li class="disabled"><a href="#">&raquo;</a></li>
		{% else %}
			<li><a href="/products/get/page/{{ current_page + 1 }}">&raquo;</a></li>
		{% endif %}
	</ul>
</div>
{% endblock %}