{% extends "base.html" %}

{% block content %}
<div class="container">
	<h2 class="page-header">Product Description</h2>
	<ul class="product-desc">
		<li>
			<strong>Name: </strong>{{ product.name }}
		</li>
		<li>
			<strong>Description: </strong>{{ product.description }}
		</li>
		<li>
			<strong>Price: </strong>{{ product.price }}
		</li>
		<li>
			<img height="120px" src="/products/image/{{ product.imagefilename }}" alt="">
		</li>
	</ul>
</div>
{% endblock %}