{% extends "base.html" %}

{% block content %}
<div class="container">
	<h2 class="page-header">Upload new product</h2>
	<form action="" method="POST" role="form" enctype="multipart/form-data">
		{{ form.hidden_tag() }}
		<div class="form-group">
			<label for="name">Product Name:</label>
			{{ form.name(class="form-control") }}
			<br>
			{% for error in form.name.errors %}
				<div class="alert alert-danger">{{ error }}</div>
			{% endfor %}
		</div>
		<div class="form-group">
			<label for="price">Price:</label>
			{{ form.price(class="form-control", type="number") }}
			<br>
			{% for error in form.price.errors %}
				<div class="alert alert-danger">{{ error }}</div>
			{% endfor %}
		</div>
		<div class="form-group">
			<label for="description">Description:</label>
			{{ form.description(class="form-control") }}
			<br>
			{% for error in form.description.errors %}
				<div class="alert alert-danger">{{ error }}</div>
			{% endfor %}
		</div>
		<div class="form-group">
			<label for="quantity">Quantity:</label>
			{{ form.quantity(class="form-control", value="1", type="number") }}
			<br>
			{% for error in form.quantity.errors %}
				<div class="alert alert-danger">{{ error }}</div>
			{% endfor %}
		</div>
		<div class="form-group">
			<label for="imagefile">Image:</label>
			{{ form.imagefile()}}
			<br>
			{% for error in form.imagefile.errors %}
				<div class="alert alert-danger">{{ error }}</div>
			{% endfor %}
		</div>
		<button type="submit" class="btn btn-primary">
			<span class="glyphicon glyphicon-upload"></span> Upload
		</button>
	</form>
	<br>
</div>
{% endblock %}