.visibility {
	margin-left: 4px;
}

#username {
	color: blue;
}

.well-sm {
	padding-top: 0px;
}

.page-header {
	margin-top: 15px;
}

.error-block {
	margin: 0 auto;
	max-width: 400px;
}

.nav-btn-custom:hover {
	background-color: #5496cf;
	border-color: #5496cf;
}

.navbar {
	border-radius: 0;
}

.navbar-brand {
	font-size: 25px;
	margin-top: 16px;
}

body {
	margin-bottom: 50px;
}