{% extends "base.html" %}

{% block content %}
	<div class="error-block">
		<div class="alert alert-info">
			<strong>Nope!</strong>
			You came to the wrong neighbourhood.
		</div>
	</div>
	
{% endblock %}