{% extends "base.html" %}

{% block content %}
	<div class="error-block">
		<div class="alert alert-danger">
			<strong>Well done!</strong>
			You've broken our app!
		</div>		
	</div>

{% endblock %}