<!doctype html>
<html>
<head>
	<title>{{ title }} - ZBay</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	{% include "navs.html" %}
	<div class="error-block">
		{% include "flash.html" %}
	</div>

	{% block content %}
	{% endblock %}
	{% include "footer.html" %}
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>
</html>