{% extends "base.html" %}
{% block content %}
<div class="container">
	{% if g.user and g.user.is_authenticated() %}
	<h2>Welcome, <strong>{{ g.user.name }}</strong></h2>
	{% else %}
	<h2>Sign in to get started!</h2>
	<a href="{{ url_for('users.login') }}">
		<button type="submit" class="btn btn-primary btn-lg">Login</button>
	</a>
	{% endif %}
</div>
{% endblock %}