<nav class="navbar navbar-inverse" role="navigation">
	<div class="container">
		<!-- align with the right, its a bit higher than the right links  -->
		<a href="{{ url_for('index') }}" class="navbar-brand">Zbay</a>
		<ul class="nav navbar-nav navbar-right">
			{% if g.user and g.user.is_authenticated() %}
			<li>
				<a href="{{ url_for('products.upload_product') }}">
					<button class="btn btn-primary navbar-btn nav-btn-custom">
						<span class="glyphicon glyphicon-upload"></span> Upload product</button>
				</a>
			</li>
			<li class="navbar-text"><a href="/index" class="navbar-link">
				<span class="glyphicon glyphicon-home"></span> Home</a>
			</li>
			<li class="navbar-text"><a href="{{ url_for('users.home') }}">
				<span class="glyphicon glyphicon-user"></span> Profile</a>
			</li>
			<li class="navbar-text"><a href="{{ url_for('users.logout') }}">Logout</a></li>
			{% else %}
			<a href="{{ url_for('users.login') }}">
				<button class="btn btn-primary navbar-btn navbar-right nav-btn-custom">Login</button>
			</a>
			{% endif %}
		</ul>
	</div>
</nav>
